name: GitGuardian scan

on:
  push:
    branches: [main]
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: GitGuardian scan
        uses: GitGuardian/gg-shield-action@v1.26.0
        with:
          args: scan repo . --config-path .gitguardian.yml
